
.logo img{
  width: 80px;
  margin: 10px 10px 10px 0;
}

.seperator{
  border-right: 1px solid #ccc;
}
.set-padding-lr{
  padding-left: 40px;
  padding-right: 40px;
}
.set-padding-tb{
  padding-top: 30px;
  padding-bottom: 30px;
}
