<!DOCTYPE html>
<html ng-app="app" lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="css/bootstrap.css" />
	<link rel="stylesheet" href="css/bootstrap-theme.css" />
	<link rel="stylesheet" href="css/style.css" />
	<script src="node_modules/angular/angular.min.js"></script>
	<script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
	<script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
	<script src="node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
</head>

<body class="ng-cloak main">
	    <!-- Fixed navbar -->
	    <nav class="navbar navbar-default navbar-fixed-top" ng-controller="header">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="logo" href="#">
							<img src="images/ast_logo_u38.png" />
						</a>
	        </div>
	        <div id="navbar" class="navbar-collapse collapse">
	          <ul class="nav navbar-nav">
	            <li uib-dropdown ng-mouseover="openMenu($event, 'brands')" is-open="status.brands">
								<a uib-dropdown-toggle>BRANDS</a>
								<div class="dropdown-menu brands-dropdown" uib-dropdown-menu aria-labelledby="Brands">
									<div class="col-md-4">
										<ul class="list">
											<li><a href="">Aspect</a></li>
											<li><a href="">Aspect Dr</a></li>
											<li><a href="">Aspect Gold</a></li>
											<li><a href="">Teen Aspect</a></li>
										</ul>
									</div>
									<div class="col-md-8">
										<div class="jumbotron">
												<!-- <img src="images/Title-Place-Holder.png" class="img-responsive" /> -->
											</div>
									</div>
								</div>
							</li>
							<li ng-if="secureUser" class="dropdown" uib-dropdown ng-mouseover="openMenu($event, 'marketing')" is-open="status.marketing">
								<a uib-dropdown-toggle>MARKETING</a>
								<div class="dropdown-menu marketing-dropdown" uib-dropdown-menu aria-labelledby="Marketing">
									<div class="col-md-4">
										<ul class="list">
											<li><a href="">Print Collateral</a></li>
											<li><a href="">Digital Collateral</a></li>
											<li><a href="">Frames</a></li>
											<li><a href="">Shop All</a></li>
										</ul>
									</div>
									<div class="col-md-8">
										<div class="jumbotron">
												<img src="images/Place-Holder.png" class="img-responsive" />
											</div>
									</div>
								</div>
							</li>
	            <li uib-dropdown ng-mouseover="openMenu($event, 'atsAcademy')" is-open="status.atsAcademy">
								<a uib-dropdown-toggle>AST ACADEMY</a>
								<div class="dropdown-menu ats-academy-dropdown" uib-dropdown-menu aria-labelledby="ATS Academy">
									<div class="col-md-4">
										<ul>
											<li><a href="">The Academy</a></li>
											<li><a href="">Webinars</a></li>
										</ul>
									</div>
									<div class="col-md-8">
										<div class="jumbotron">
												<h2 class="text-center">Place holder</h2>
												 <img src="images/Title-Place-Holder.png" class="img-responsive" />
											</div>
									</div>
								</div>
							</li>
	            <li uib-dropdown ng-mouseover="openMenu($event, 'aboutUs')" is-open="status.aboutUs">
								<a uib-dropdown-toggle>ABOUT US</a>
								<div class="dropdown-menu about-us-dropdown" uib-dropdown-menu aria-labelledby="About Us">
									<div class="col-md-4">
										<ul>
											<li><a href="">Our Story</a></li>
											<li><a href="">News</a></li>
											<li><a href="">Contact Us</a></li>
										</ul>
									</div>
									<div class="col-md-8">
										<div class="jumbotron">
												<h2 class="text-center">Place holder</h2>
											</div>
									</div>
								</div>

							</li>
	          </ul>
	          <ul class="nav navbar-nav navbar-right">
	            <li ng-if="!secureUser"><a ng-click="openLoginRegister()">LOGIN</a></li>
							<li ng-if="secureUser" uib-dropdown ng-mouseover="openMenu($event, 'user')" is-open="status.user">
								<a uib-dropdown-toggle>Welcome, {{user.name}}</a>
								<div class="dropdown-menu user-dropdown" uib-dropdown-menu aria-labelledby="User">
										sadfasdfsad
										asdfjasdfjlj <br /><br />
								</div>
							</li>
							<li uib-dropdown ng-mouseover="openMenu($event, 'search')" is-open="status.search">
								<a class="glyphicon glyphicon-search"></a>
								<div class="dropdown-menu search-dropdown" uib-dropdown-menu aria-labelledby="Search">
								
<div class="col-md-2"></div>

               <div class="form-group col-md-8">
                   <input type="search" class="form-control center-block" id="search" ng-model="search">
               </div>
<div class="col-md-2"></div>

								</div>

							</li>
							<li uib-dropdown ng-mouseover="openMenu($event, 'products')" is-open="status.products">
								<a uib-dropdown-toggle class="glyphicon glyphicon-briefcase"></a>
								
									<ul class="dropdown-menu dropdown-menu products-dropdown" uib-dropdown-menu role="menu" aria-labelledby="Products">
        <li role="menuitem" >
        	<h2 class="px-10">Your Cart <span class="pull-right">X<span>
        </li>
        <li class="divider"></li>
        <li role="menuitem">
        <div class="col-md-5">
        </div>
        <div class="col-md-7">
        	<div>Brand Name</div>
        	<div>Product Name</div>
        	<div>Size: xxx</div>
        	<div>
        		<div class="col-md-6">1</div>
        		<div class="col-md-6">$PRICE</div>
        	</div>

</div>

        </li>
        <li role="menuitem">
        	
        	        <li class="divider"></li>
        <li role="menuitem">
        <div class="col-md-5">
        </div>
        <div class="col-md-7">
        	<div>Brand Name</div>
        	<div>Product Name</div>
        	<div>Size: xxx</div>
        	<div>
        		<div class="col-md-6">1</div>
        		<div class="col-md-6">$PRICE</div>
        	</div>

</div>

        </li>
        
        <li role="menuitem">        <li class="divider"></li>
        <li role="menuitem">
        <div class="col-md-5">
        </div>
        <div class="col-md-7">
        	<div>Brand Name</div>
        	<div>Product Name</div>
        	<div>Size: xxx</div>
        	<div>
        		<div class="col-md-6">1</div>
        		<div class="col-md-6">$PRICE</div>
        	</div>

</div>
</li>
      </ul>
								

							</li>
	          </ul>
	        </div><!--/.nav-collapse -->
	      </div>
	    </nav>

	<div class="container">
		<div class="row">

		<div ui-view></div>
		<!-- <footer class="footer">
			<div class="container">
				<p>@2016. All rights reserved.</p>
			</div>
		</footer> -->
	</div>
	</div>
	<footer class="container">
	    <div class="footer">
	      <img src="images/ast_main_logo_u32.jpg" class="logo center-block" />
	    </div>
			<div>
				<ul class="list-inline text-center">
					<li><a href="">CONTACT US</a></li>
					<li><a href="">TERMS OF USE</a></li>
					<li><a href="">PRIVACY POLICY</a></li>
					<li><a href="">CLINIC LOGIN</a></li>
				</ul>
			</div>
	    <div class="text-center">
	        Copyright 2017 Advanced Skin Technologies
	    </div>
	</footer>
	<!-- App Module -->
	<script src="app.js"></script>

	<!-- Directives -->
	<script src="js/directives/dragEvents.js"></script>


	<!-- Controllers -->
		<script src="js/controllers/header-ctrl.js"></script>
	<script src="js/controllers/home-ctrl.js"></script>
	<script src="js/controllers/modal-ctrl.js"></script>


</body>
</html>
