
<div ng-controller="home" class="home">
  <div class="jumbotron">
 <!--   <img src="images/Title-Place-Holder.png" class="img-responsive" /> -->

      <h2 class="text-center">Title-Place-Holder</h2>
      <button type="button" class="btn btn-info">READ MORE</button>

      <div class="brand-logo"></div>
  </div>
  <section>
    <div class="row">
            <div class="col-md-5">
                <h2>Title Place Holder</h2>
                <div class="desc">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                    dolor in reprehenderit in voluptate
                </div><button>READ MORE</button>
            </div>
            <div class="col-md-7">
                <img src="images/Place-Holder-2.png" class="img-responsive" />
            </div>
          </div><br>
          <div class="row">
        <div class="col-md-7">
            <img src="images/Place-Holder.png" class="img-responsive" />
        </div>
        <div class="col-md-5 text-right">
            <h2>Title Place Holder</h2>
            <div class="desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate
            </div>
            <button>READ MORE</button>
        </div>
      </div><br>
      <div class="row">
            <div class="col-md-5">
                <h2>Title Place Holder</h2>
                <div class="desc">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                    dolor in reprehenderit in voluptate
                </div><button>READ MORE</button>
            </div>
            <div class="col-md-7">
                <img src="images/Place-Holder-2.png" class="img-responsive" />
            </div>
          </div><br>

         <!--  <div class="container">
    <div class="row">
      <div class="span4"></div>
        <div class="span8"><img class="center-block" src="images/Footer-Title-Place-Holder.png"/></div>
      <div class="span4"></div>
    </div>
</div> -->
<!--                       <div class="container">
                <div class="row">
                 
                   <img class="center-block" src="images/Footer-Title-Place-Holder.png"/>
                 
                </div>
            </div> -->
          <div class="col-md-7">
           <img src="images/Footer-Title-Place-Holder.png" class="img-responsive"/>
                   <!--  <div class="jumbotron">
                        <h2 class="text-center">Place holder</h2>

                      </div> -->
                  </div>

    </section>



    <script type="text/ng-template" id="LoginRegisterContent.html">
        <div class="modal-body" id="modal-body">
          <button type="button" class="close" ng-click="cancel()">&times;</button>
          <h1 class="text-center">LOGIN / REGISTER</h1>
         <div class="row set-padding-tb">
           <div class="col-md-6 seperator set-padding-lr">
             <h3 class="text-center">RETURNING CUSTOMERS</h3>
             <form>
               <div class="form-group">
                   <label for="email">EMAIL</label>
                   <input type="email" class="form-control" id="email" ng-model="user.email">
               </div>
               <div class="form-group">
                   <label for="password">PASSWORD</label>
                   <input type="password" class="form-control" id="password" ng-model="user.password">
               </div>
               <div class="row">
                 <div class="col-md-6">
                   <div class="form-group">
                       <div class="form-check">
                           <label class="form-check-label">
                 <input type="checkbox" class="form-check-input"> REMEMBER ME
               </label>
                       </div>
                   </div>

                 </div>
                 <div class="col-md-6 text-right">
                   <button class="btn btn-link pull-right" type="button">FORGOT PASSWORD?</button>
                 </div>
               </div>
               <div class="text-center">
               <button class="btn btn-primary">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LOGIN&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
             </div>
             </form>
           </div>
           <div class="col-md-6 set-padding-lr">
             <h3 class="text-center">NEW CUSTOMERS</h3>
             <form>
               <div class="form-group">
                   <label for="employeeId">EMPLOYEE ID</label>
                   <input type="text" class="form-control" id="employeeId" ng-model="user.employeeId">
               </div>
               <div class="form-group">
                   <label for="email">EMAIL</label>
                   <input type="email" class="form-control" id="email" ng-model="user.email">
               </div>
               <div class="row">
                 <div class="col-md-12">
                   &nbsp;<br /><br />
                 </div>
               </div>
               <div class="text-center">
                  <button class="btn btn-primary center">REGISTER</button>
                </div>
             </form>
           </div>
         </div>


        </div>
    </div>
</script>
</div>
